$primary-color: #404C07;
$secondary-color: #D34C01;


//AccentColor
$vivid-range-eel: #EAA001;
$crimson-glory: #BF002B;
$dark-scarlet: #580C1F;


// $primary-color-light: darken( $primary-color, 20% );
// $secondary-color-light: lighten( $secondary-color, 15% );